@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroyextrabold-webGilroy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight-webGilroy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webOpenSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webOpenSans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    /*
    в PS межбуквенное расстоние = 200. Перевод в css по формуле:
    letter-spacing = (значениеPS * размерШрифта)/1000 px
    */
    letter-spacing: 0.48px;

    background-color: #ffffff;
}

.visually-hidden:not(:focus),
.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    position: relative;

    margin: 0;
    padding: 0;

    font: inherit;
    letter-spacing: 3.6px;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    z-index: 1;
    border: none;
}

.btn:before {
    content: "";
    position: absolute;

    top: 50%;
    left: 0;
    margin-top: -4px;

    z-index: -1;

    width: 100%;
    height: 8px;

    background-color: #f0c52e;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
}

.btn:hover:before,
.btn:focus:before {
    margin-top: -20px;
    height: 40px;

    background-color: #f0c52e;
}

.btn:active {
    color: rgba(0, 0, 0, 0.3);
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    position: relative;

    margin-top: 40px;
}

.inner-page .main-header {
    margin-bottom: 35px;
}

.header-navigation {
    width: 1040px;
    padding: 0 60px;
    padding-top: 1px; /* Потолок, что бы маргин не вылетал */

    background-color: #f7e296;
}

.js .header-navigation {
  padding-bottom: 55px;
}

.header-navigation h1 {
    margin-bottom: 40px;
}

.main-header-logo {
    position: absolute;
    top: -24px;

    font-size: 48px;
    line-height: 48px;
    color: #000000;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.main-header-logo:active {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding: 0;
    margin-bottom: 40px;

    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    text-transform: none;

    list-style: none;

}

.user-navigation-search {
    margin-right: 100px;
    margin-right: auto;
}

.user-navigation-search .form-search {
    padding-left: 40px;
}

.user-navigation-login {
    min-width: 260px;
    margin-right: 20px
}

.user-navigation-login a {
    position: relative;
    padding-left: 27px;

    color: #000000;
}

.user-navigation-login .personal-entry:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -5px;

    width: 13px;
    height: 12px;

    background: url(../svg/user-link.svg) no-repeat 0 0;
}

.user-navigation-login .inactive {
  display: none;
}

.user-navigation-сompare  {
    margin-right: 30px;
}

.user-navigation-сompare a {
    position: relative;
    padding-left: 27px;

    color: #000000;
}

.user-navigation-сompare a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -4px;

    width: 10px;
    height: 10px;

    background: url(../svg/user-compare.svg) no-repeat 0 0;
}

.user-navigation-basket a {
    position: relative;
    padding-left: 27px;

    color: #000000;
}

.user-navigation-basket a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    margin-top: -5px;

    width: 12px;
    height: 12px;

    background: url(../svg/user-cart.svg) no-repeat 0 0;
}

.user-navigation-login a:hover,
.user-navigation-сompare a:hover,
.user-navigation-basket a:hover,
.user-navigation-login a:focus,
.user-navigation-сompare a:focus,
.user-navigation-basket a:focus {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.user-navigation-login a:active,
.user-navigation-сompare a:active,
.user-navigation-basket a:active {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.form-search {
    position: relative;
}

.form-search-entry{
    width: 110px;

    color: #000000;

    background-color: transparent;
    border: none;

    opacity: 0.3;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
}

.form-search-entry + label:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -8px;

    width: 16px;
    height: 16px;

    background: url(../svg/user-search.svg) no-repeat 0 0;


}

.form-search-entry:hover{
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.form-search-entry:focus{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    outline: none;
    padding-right: 175px;
}


.form-search-entry:focus ~ .form-btn-entry:before{
    content: "";
    position: absolute;

    width: 100%;
    top: 100%;
    left: 0;
    margin-top: 10px;

    border-bottom: 2px solid #000000;
 }

.form-search-entry:focus ~ .form-btn-entry:after{
   content: "Найти";
   padding: 15px 19px;


   color: #000000;
   border: 2px solid #000000;
   background-color: transparent;
}

.form-search-entry:focus ~ .form-btn-entry:hover:after,
.form-search-entry:focus ~ .form-btn-entry:focus:after {
    color: #ffffff;
    background-color: #000000;
 }


.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.inner-page .main-header {
    /* Распорка, что бы не выпадал margin */
    padding-bottom: 1px;
}

.site-navigation-catalog {
    margin-right: auto;
}

.site-navigation-catalog a {
    position: relative;

    padding-right: 32px;
}

.site-navigation-catalog a:after {
    content: "";
    position: absolute;

    top: 50%;
    right: 5px;
    margin-top: -8px;

    width: 16px;
    height: 16px;

    background: url(../svg/plus.png) no-repeat 0 0;
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.site-navigation-delivery {
    margin-left: auto;

}

.site-navigation-warranty {
    margin-left: 40px;
}

.site-navigation-contacts {
    margin-left: 100px;
}


.site-navigation-contacts a{
    margin-right: -4px;
}

.site-navigation a {
    display: block;

    line-height: 24px;
    letter-spacing: 3.6px;
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.site-navigation a:active {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.js .catalog-navigation-wrapper {
    position: relative;
    display: none;

    z-index: 5;
}

.js .catalog-navigation-show {
    display: block;

    -webkit-animation-name: catalog-show;

            animation-name: catalog-show;
    -webkit-animation-duration: 0.15s;
            animation-duration: 0.15s;
}

.catalog-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    margin: 0;
    padding: 0;

    background-color: #f7e296;
    list-style: none;
}

.js .catalog-navigation {
    position: absolute;
    top: 0;
    left: -60px;

    padding: 1px 60px;
}

.inner-page .catalog-navigation {
  padding: 0;
}

.js .inner-page .catalog-navigation {
  padding: 0 60px;
}

.catalog-navigation-list {
    margin: 0;
    padding: 0;
    padding: 25px 0;
    margin-right: 60px;

    list-style: none;
}

.catalog-navigation-list li {
    margin-bottom: 14px;
}

.catalog-navigation-list li a{
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    /* line-height: 36px; */
    text-transform: none;
    color: #000000;
}


.catalog-navigation-list li a:hover,
.catalog-navigation-list li a:focus{
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.catalog-navigation-list li a:active{
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 90px;
}

.slide-left {
    width: 570px;
    min-height: 500px;
    margin-right: 30px;

    text-align: center;
}

.slide-right {
    position: relative;

    width: 510px;
}

.slider {
    position: relative;
    background-image: -webkit-linear-gradient(#f7e296 110px, #ffffff 110px);
    background-image: linear-gradient(#f7e296 110px, #ffffff 110px)
}

.slider-caption {
    position: relative;
    margin: 0;
    margin-bottom: 20px;

    font-size: 47px;
    line-height: 56px;
    text-transform: none;
}

.slider-caption:before {
    content: "";
    display: block;

    margin: 35px 0;
    width: 100px;
    height: 7px;

    background-color: #ffffff;
}

.slider-count {
    position: absolute;
    top: 0;
    right: 0;

    margin: 0;
    margin-top: 62px;

    font-size: 180px;
    color: #ffffff;
}

.slider-description {
    margin: 0;
    padding: 0;
    margin-bottom: 45px;

    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    text-transform: none;
    color: #464646;
}

.slider-switching {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.slider-btn {
    width: 220px;
}

.slider-switches {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    min-width: 425px;

    border-collapse: collapse;
}

.slider-info td {
    width: 160px;
}

.slider-info-value {
    font-family: "gilroylight", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    text-transform: none;
}

.slider-info-indicator {
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-transform: none;
}

.slide-one,
.slide-two,
.slide-three {
    display: none;
}

#product-1:checked ~ .slider .slide-one,
#product-2:checked ~ .slider .slide-two,
#product-3:checked ~ .slider .slide-three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-animation-name: appearance;

            animation-name: appearance;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
}

.radio-switch {
    position: absolute;
    right: 60px;
    bottom: 155px;
    z-index: 20;

    font-size: 0;
}

.radio-switch label {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 20px;

    vertical-align: top;

    background: transparent;
    border: 1px solid #000000;
    border-radius: 50%;
    cursor: pointer;
}

#product-1:checked ~ .slider label[for="product-1"]:before,
#product-2:checked ~ .slider label[for="product-2"]:before,
#product-3:checked ~ .slider label[for="product-3"]:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -3px;
    left: 3px;
    width: 4px;
    height: 4px;

    background: transparent;
    border: 1px solid #000000;
    border-radius: 50%;
}

/* выделение radio-batton в слайдах для пролистования через TAB */
/* #product-1:focus ~ .slider label[for="product-1"],
#product-2:focus ~ .slider label[for="product-2"],
#product-3:focus ~ .slider label[for="product-3"] {
    outline: 2px solid lightblue;
} */


.slide-three img {
    padding-top: 62px;
}

.slide-control {
    position: absolute;
}

.product {
    margin-bottom: 80px;
}

.product-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.product-list-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    text-transform: none;
    color: #000000;
}

.product-list-item div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin-bottom: 35px;
    width: 160px;
    height: 160px;

    background-color: #f7e296;
}

.product-list-item:nth-child(2)  img {
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.product-list-item p {
    margin: 0;
    padding: 0;
    width: 165px;

    background-color: #ffffff;
}

.product-list-item:hover div,
.product-list-item:focus div {
    background-color: #f0c52e;
}

.product-list-item:active img,
.product-list-item:active p {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.service {
  margin-bottom: 105px;

  background-image: -webkit-linear-gradient(#ffffff 100px, #e5e5e5 100px);
  background-image: linear-gradient(#ffffff 100px, #e5e5e5 100px)
}

.service .container {
  padding-top: 85px;
  padding-bottom: 85px;

  background-image: -webkit-linear-gradient(#ffffff 100px, #e5e5e5 100px);
  background-image: linear-gradient(#ffffff 100px, #e5e5e5 100px)
}

.service-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.service-list {
    display: none;
    position: relative;

    width: 300px;
    margin: 0;
    margin-right: 100px;
    margin-bottom: 65px;
    padding: 0;

    list-style: none;
}

.js .service-list {
    display: block;
}

.service-list:before {
    content: "";
    position: absolute;

    top: 50%;
    margin-top: -165px;
    right: 15px;

    width: 7px;
    height: 320px;

    background-color: #000000;
}

.service-list li:not(:last-child) {
    margin-bottom: 35px;
}

.service-list .btn {
    width: 160px;

    outline: none;
}

.service-list .btn:active {
    color: #f0c52e;
}

.service-list .service-active {
    color: #f0c52e;
}

.service-list .btn:active:before {
    content: "";
    position: absolute;

    top: 50%;
    left: 0;
    margin-top: -20px;
    padding-right: 75%;

    z-index: -1;

    width: 100%;
    height: 40px;

    -webkit-transition-duration: 0.1s;

            transition-duration: 0.1s;
    background-color: #000000;
}

.service-list .service-active:before {
    content: "";
    position: absolute;

    top: 50%;
    left: 0;
    margin-top: -20px;
    padding-right: 75%;

    z-index: -1;

    width: 100%;
    height: 40px;

    -webkit-transition-duration: 0.1s;

            transition-duration: 0.1s;
    background-color: #000000;
}

.service-description {
    width: 460px;
    margin-right: 20px;
}

.js .service-description {
    margin-right: 0;
}

.service-delivery {
    display: block;
}

.service-delivery:after {
    display: none;
    content: "";

    position: absolute;
    top: 50%;
    margin-top: -110px;
    right: 75px;

    width: 136px;
    height: 164px;

    background: url(../svg/service-delivery.svg) no-repeat 0 0;
}

.service-credit {
    display: block;
}

.service-credit:after {
    display: none;
    content: "";

    position: absolute;
    top: 50%;
    margin-top: -130px;
    right: 65px;

    width: 156px;
    height: 188px;

    background: url(../svg/service-credit.svg) no-repeat 0 0;
}

.service-warranty {
    display: block;

}

.service-warranty:after {
    display: none;
    content: "";

    position: absolute;
    top: 50%;
    margin-top: -120px;
    right: 65px;

    width: 171px;
    height: 195px;

    background: url(../svg/service-warranty.svg) no-repeat 0 0;
}

.js .service-delivery,
.js .service-credit,
.js .service-warranty {
  display: none;
}

.js .service-delivery:after,
.js .service-credit:after,
.js .service-warranty:after {
  display: block;
}

.js .service-show {
    /* Появляется при нажатии
    на кнопку */
    display: block;
    -webkit-animation-name: service-appearance;
            animation-name: service-appearance;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
}

.service-caption {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;

    font-size: 47px;
    /* line-height: 48px; */
    text-transform: none;
}

.service-description p {
    margin: 0;
    padding: 0;

    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    text-transform: none;
    color: #464646;
}

button.btn {
    background-color: transparent;
}

.brands {
    margin-bottom: 105px;
}

.brands-list {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    list-style: none;
}

.about-contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.brands-list li {
    position: relative;
}

.brands-list-img {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 30;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.brands-list-img:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.about-us {
    width: 505px;
}

.about-us h2, .contacts h2 {
    position: relative;

    margin: 0;
    margin-bottom: 45px;
    padding-top: 50px;

    font-size: 47px;
    line-height: 48px;
    text-transform: none;
}

.about-us h2:before,
.contacts h2:before {
   content: "";
   position: absolute;

   top: 0;
   left: 0;

   width: 80px;
   height: 7px;

   background-color: #000000;
}

.about-us-description,
.contacts-description {
    margin-bottom: 25px;

    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    text-transform: none;
    color: #464646;
}

.contacts-description {
  margin-bottom: 35px;
}

.about-us-list {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;

    font-size: 15px;
    line-height: 30px;
    text-transform: none;

    list-style: none;
}

.about-us-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 35px;
}

.about-us-list li:before {
    content: "";
    position: absolute;

    top: 50%;
    left: 0;
    margin-top: -9px;

    width: 18px;
    height: 18px;

    background: url(../svg/about-us-li.svg) no-repeat 0 0;
    opacity: 0.15;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
}

.about-us p:nth-of-type(2) {
    margin-bottom: 75px;
}

.about-us-btn {
    width: 260px;
}

.contacts {
    position: relative;
    width: 560px;
}

.contacts img {
    margin-bottom: 68px;
}

.btn-map {
    display: none;
    position: absolute;
    top: 345px;
    left: 280px;
    margin-left: -100px;

    width: 200px;
}

.contacts-map {
    display: block;
    margin: 0;
    padding: 0;
}

.contacts-map:hover img{
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.contacts-map:hover .btn-map {
    display: block;
}

.contats-btn {
    width: 260px;
}

.footer-main {

    margin-top: 90px;

    background-color: #464646;
}

.footer-main .container {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #464646;
}


.inner-page .footer-main {
    margin-top: 0;
}

.footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin-bottom: 10px;
}

.footer-user-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding: 0;
}

.footer-user-navigation .user-navigation-login {
    min-width: auto;
}

.footer-user-navigation li>a {
    padding-left: 25px;
}

.footer-user-navigation li:not(:last-child) {
    margin-right: 35px;
}

.footer-user-navigation .user-navigation-login>a:before {
    background: url(../svg/user-yellow.svg) no-repeat 0 0;
}

.footer-user-navigation .user-navigation-сompare>a:before {
    background: url(../svg/compare-yellow.svg) no-repeat 0 0;
}

.footer-user-navigation .user-navigation-basket>a:before {
    background: url(../svg/cart-yellow.svg) no-repeat 0 0;
}

.footer-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

    margin-bottom: 45px;
}

.footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo-footer {
    font-size: 48px;
    line-height: 48px;
    color: #ffc600;
}

.logo-footer:hover,
.logo-footer:focus {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.logo-footer:active {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.footer-user-navigation {
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    text-transform: none;

    list-style: none;
}

footer .user-navigation-login>a,
footer .user-navigation-сompare>a,
footer .user-navigation-basket>a {
    color: #ffffff;

    opacity: 0.7;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

footer .user-navigation-login>a:hover,
footer .user-navigation-сompare>a:hover,
footer .user-navigation-basket>a:hover,
footer .user-navigation-login>a:focus,
footer .user-navigation-сompare>a:focus,
footer .user-navigation-basket>a:focus {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

footer .user-navigation-login>a:active,
footer .user-navigation-сompare>a:active,
footer .user-navigation-basket>a:active {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.footer-site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-site-navigation li {
    margin-right: 40px;
}

.footer-site-navigation a {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #ffffff;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.footer-site-navigation a:active {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.address,
.phone-number {
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0;
    text-transform: none;
    color: #ffffff;
}

.footer-bottom-line {
    width: 80px;
    height: 7px;

    background-color: #ffc600;
}

.social-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    min-width: 190px;

    margin: 0 auto;
    padding: 0;

    list-style: none;
}

.social-btn li {
    margin-right: 23px;
}

.social-btn-facebook:before {
    content: "";
    display: inline-block;

    width: 32px;
    height: 32px;
    vertical-align: middle;

    background: url(../svg/footer-fb.svg) no-repeat 0 0;
}

.social-btn-instagram:before {
    content: "";
    display: inline-block;

    width: 32px;
    height: 32px;
    vertical-align: middle;

    background: url(../svg/footer-insta.svg) no-repeat 0 0;
}

.social-btn-tw:before {
    content: "";
    display: inline-block;

    width: 32px;
    height: 32px;
    vertical-align: middle;

    background: url(../svg/footer-twitter.svg) no-repeat 0 0;
}

.social-btn a{
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.social-btn a:hover,
.social-btn a:focus {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.social-btn a:active {
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.copyright {
    margin: 0;
    padding: 0;
}

.copyright a:before {
    content: "";
    display: block;

    width: 27px;
    height: 34px;

    background: url(../svg/logo-html.svg) no-repeat 0 0;
}

.copyright a:hover:before {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.copyright a:active:before {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.page-title {

    margin:0;
    margin-bottom: 25px;
    margin-left: 60px;

    font-size: 47px;
    line-height: 48px;
    text-transform: none;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;
    margin-bottom: 45px;
    margin-left: 60px;

    list-style: none;
}

.breadcrumbs li{
    margin-right: 10px;

    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    color: rgba(0, 0, 0, 0.5);
}

.breadcrumbs a {
    position: relative;
    padding-right: 20px;

    color: rgba(0, 0, 0, 0.5);
}

.breadcrumbs a:focus,
.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:after {
    content: "";
    position: absolute;

    top: 50%;
    margin-top: -1px;
    right: 0;

    width: 4px;
    height: 7px;

    background: url(../svg/nav-arrow.svg) no-repeat 0 0;
}

fieldset {
    border: none;
}

fieldset legend{
    text-transform: none;
}

.main-wrapper {
  position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 1160px;

    background-image:
    -webkit-linear-gradient(rgba(0, 0, 0, 0.08) 70px, transparent 70px);

    background-image:
    linear-gradient(rgba(0, 0, 0, 0.08) 70px, transparent 70px);
}

.filter-wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.08);
}

.catalog-wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.filter {
  width: 330px;
  margin-left: auto;
}

.filter {
    width: 330px;
    /* background-image:
    linear-gradient(90deg,rgba(0, 0, 0, 0.08) 300px, transparent 300px); */
}

.filter-caption {
    margin: 0;
    padding: 25px 60px;
    margin-bottom: 65px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.6px;
}

.filter-form {
    margin-left: 60px;
}

.filter-form fieldset {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}


.filter-form legend {
    margin-bottom: 18px;
}

.filter-form legend:before {
    content: "";
    display: block;

    margin-bottom: 10px;

    width: 200px;
    height: 2px;

    background-color: #000000;
}

.filter-range {
    width: 200px;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

.filter-range-controls {
    position: relative;

    padding-top: 10px;

    height: 12px;
}

.filter-range-controls .scale {
    height: 2px;

    background: #dbdbdb;
}

.filter-range-controls .bar {
    width: 70%;
    height: 2px;

    background: #91c92f;
}

.filter-range-controls .toggle {
    position: absolute;
    top: 1px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #dbdbdb;
    border-radius: 50%;
    cursor: pointer;
}

.filter-range-controls .toggle-min {
    left: 40px;
}

.filter-range-controls .toggle-max {
    left: 90px;
}

.filter-range-price {
    font-size: 0;
}

.filter-range-price label {
    display: inline-block;
    width: 49%;

    font-family: "gilroylight", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    color: #000000;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

.filter-range-price input {
    width: 60px;
    border: none;
    background: transparent;
}

.filter-list {
    margin: 0;
    padding: 0;
}

.filter-color {
    position: relative;
    padding-left: 40px;

    list-style: none;
}


.filter-color label {
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    text-transform: none;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
        user-select: none;
    cursor: pointer;
}

.filter-color label:disabled {
    color: #a6a6a6;
}

.filter-input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 0;

    width: 27px;
    height: 23px;

    background: url(../svg/filter-checkbox-off.svg) no-repeat 0 0;
}

.filter-input[type="checkbox"]:checked + label:before {
    background: url(../svg/filter-checkbox-on.svg) no-repeat 0 0;
}


.filter-bluetooth {
    position: relative;
    padding-left: 40px;

    list-style: none;
}

.filter-bluetooth label {
    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 14px;
    line-height: 40px;
    text-transform: none;
    cursor: pointer;
}

.filter-input[type="radio"] + label:before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 0;

    width: 25px;
    height: 25px;

    background: url(../svg/filter-radio-off.svg) no-repeat 0 0;
}

.filter-input[type="radio"]:checked + label:before {
    background: url(../svg/filter-radio-on.svg) no-repeat 0 0;
}

.filter-input[type="checkbox"] + label:hover:before,
.filter-input[type="checkbox"]+ label:focus:before,
.filter-input[type="radio"]+ label:hover:before,
.filter-input[type="radio"]+ label:focus:before  {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.filter-input[type="checkbox"]:disabled + label:before,
.filter-input[type="radio"]:disabled + label:before,
.filter-input[type="checkbox"]:disabled + label,
.filter-input[type="radio"]:disabled + label {
  opacity: 0.25;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
  cursor: default;
}

.filter-btn {
    width: 200px;
}

.catalog {
    margin-left: 70px;
    margin-right: auto;
    width: 760px;
}

.catalog-sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin: 0;
    padding: 25px 0;
    margin-bottom: 70px;
}

.catalog-sorting-caption {
    margin: 0;
    padding: 0;
    margin-right: 55px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.6px;
}

.catalog-sorting-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    margin: 0;
    padding: 0;
    margin-right: auto;

    list-style: none;
}

.catalog-sorting-list li {
  min-width: 60px;
  margin-right: 25px;
}

.catalog-sorting-list a {
    display: block;

    font-family: "open_sansregular", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    text-transform: none;
    color: #000000;

    opacity: 0.3;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.catalog-sorting-list li>.active {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  cursor: default;
}

.catalog-sorting-list a:hover,
.catalog-sorting-list a:focus  {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.catalog-sorting-list a:active {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.catalog-sorting-up,
.catalog-sorting-down {
    cursor: pointer;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

.catalog-sorting-up {
    margin-right: 15px;
}

.catalog-sorting-up:after {
    content: "";
    display: inline-block;

    width: 10px;
    height: 11px;
    vertical-align: middle;

    background: url(../svg/sorting-icon.svg) no-repeat 0 0;
}

.catalog-sorting-down:before {
    content: "";
    display: inline-block;

    width: 10px;
    height: 11px;
    vertical-align: middle;

    -webkit-transform: rotate(180deg);

            transform: rotate(180deg);
    background: url(../svg/sorting-icon.svg) no-repeat 0 0;
}

.catalog-sorting-down:hover:before,
.catalog-sorting-up:hover:after {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.catalog-sorting-down:active:before,
.catalog-sorting-up:active:after,
.catalog-sorting-down:focus:before,
.catalog-sorting-up:focus:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.catalog-sorting-wrapper .active {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    cursor: default;
}

.catalog-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding:0;

    list-style: none;
}

.catalog-item {
    position: relative;
}

.catalog-item:hover:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;

    width: 360px;
    height: 380px;

    background-color: #eeeeee;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.catalog-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 360px;

    text-transform: none;
    color: #000000;
    letter-spacing: 0px;
}

.item-add-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.catalog-item:hover .item-add-wrapper {
    display: block;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
}

.item-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    position: absolute;

    width: 360px;
    height: 380px;
}

.item-add-btn {
    margin:0;
    padding: 0;
    margin-bottom: 27px;

    width: 200px;
    cursor: pointer;
}

.item-add-compare {
    margin:0;
    padding: 0;

    font-family: "open_sanslight", Arial, sans-serif;
    font-size: 13px;
    /* line-height: 36px; */
    color: #000000;

    border: none;
    background-color: transparent;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    cursor: pointer;
}

.item-add-compare:hover,
.item-add-compare:focus {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.item-add-compare:active {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}

.catalog-item-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 20px;

    font-size: 0;
}

.catalog-item-new::before {
  content: "New";
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;

  width: 60px;
  height: 60px;

  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  color: #000000;

  border: 2px solid #000000;
  border-radius: 50%;

  opacity: 0.1;
}

.catalog-item-title {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    max-width: 260px;

    font-family: "gilroyextrabold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0;
}

.catalog-item-price{
    margin: 0;
    padding: 0;
    max-width: 100px;

    font-family: "gilroylight", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-transform: none;
    color: #464646;
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;

    list-style: none;

    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-item {
    padding: 25px 25px;

    cursor: pointer;
}

.pagination-item-number{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.pagination-item-number li {
  padding: 25px 15px;
}

.pagination-item a {
    font-size: 16px;
    letter-spacing: 3.6px;
    color: #000000;

    opacity: 0.3;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.pagination-item a:hover,
.pagination-item a:focus {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.pagination-item a:active {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.pagination-list>li:first-child a,
.pagination-list>li:last-child a,
.pagination-item-current a,
.pagination-item-current a:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.pagination-list>li:first-child:hover,
.pagination-list>li:first-child:focus,
.pagination-list>li:last-child:hover,
.pagination-list>li:last-child:focus {
    background-color: rgba(0, 0, 0, 0.08);
}

.pagination-list>li:first-child:active a,
.pagination-list>li:last-child:active a {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.popup {
    display: none;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 40;
}

/* Для отдельной страницы фидбека, если JS не загрузится */
.index-feedback .popup {
    display: block;
}

.js .popup {
    display: none;
    position: fixed;
}

.popup p {
    margin: 0;
    padding: 0;
}

.popup-feedback {
    padding: 95px 100px 80px;
    margin: 100px auto;

    width: 960px;
    min-height: 555px;

    background-color: #ffffff;
    box-sizing: border-box;
}

.js .popup-feedback {
    top: 100px;
    left: 50%;
    margin: 0;
    margin-left: -480px;
}

.feedback-form label {
    letter-spacing: 0;
    text-transform: none;
}

.feedback-form input,
.feedback-form textarea {
    font-family: "open_sansregular", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    text-transform: none;

    background-color: #e5e5e5;
    border: none;

    opacity: 0.5;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.feedback-form input:hover,
.feedback-form textarea:hover {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.feedback-form input:focus,
.feedback-form textarea:focus {
    outline: none;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    background-color: transparent;
    outline: 2px solid #f7e296;
}

.feedback-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.feedback-form p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.feedback-form p:first-of-type {
    margin-right: 40px;
}

.feedback-form p:last-of-type {
    margin-top: 35px;
    margin-bottom: 40px;
    width: 100%;
}

.feedback-form p>label {
    margin-bottom: 10px;
}

.feedback-form p>input {
    padding: 17px 20px;
}

.feedback-form p>textarea {
    padding: 17px 20px;
    height: 155px;
    max-height: 250px;
    max-width: 760px;

    box-sizing: border-box;
}

.feedback-form .btn-feedback {
    width: 200px;

    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.popup-map {
    top: 100px;
    left: 50%;
    margin-left: -480px;

    width: 960px;
    height: 559px;
}

.popup-map iframe {
    position: absolute;
    top: 0;
    left: 0;

    border: none;
}

.popup-close {
    display: none;
    position: absolute;
    top: 22px;
    right: 22px;

    width: 55px;
    height: 55px;
    font-size: 0;

    background: url(../svg/popup-map-close.svg) no-repeat 0 0;
    border: none;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    cursor: pointer;
}

.js .popup-close {
  display: block;
}

.popup-close:hover,
.popup-close:focus {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.popup-close:active {
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.js .popup-show {
    display: block;
    -webkit-animation-name: appearance;
            animation-name: appearance;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
}

@-webkit-keyframes catalog-show {
    0% {opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
    100% {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}

@keyframes catalog-show {
    0% {opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
    100% {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}

@-webkit-keyframes appearance {
    /* 0% {transform: translateX(500px);}
    100% {transform: translateX(0);} */
    0% {opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
    100% {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}

@keyframes appearance {
    /* 0% {transform: translateX(500px);}
    100% {transform: translateX(0);} */
    0% {opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
    100% {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}

@-webkit-keyframes service-appearance {
    0% {opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
    100% {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}

@keyframes service-appearance {
    0% {opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
    100% {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
}
